---
import Layout from '../layouts/Layout.astro';
import LeadCaptureSection from '../components/sections/LeadCaptureSection';
---
<Layout title="Contact PresciaIQ">
  <div class="pt-12">
    <LeadCaptureSection client:load />
  </div>
</Layout>
